---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dysfunctional">
	<main class="flex justify-center items-center h-full">
		<h1 class="font-extrabold text-6xl font-sans">
			<span class="text-white m-0 p-0">Dys</span>
			<span class="text-blue-300 ml-[-10px] p-0">functional</span>
			<span class="text-sm text-blue-300 p-0 ml-[-15px]">.fm</span>
		</h1>
	</main>
</Layout>
