---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dysfunctional">
	<main class="flex justify-center items-center h-full">
		<h1 class="font-normal text-6xl font-mono">
			<span class="text-white font-thin m-0 p-0">dys</span>
			<span class="text-orange-400 font-extrabold ml-[-35px] p-0">functional</span>
			<span class="text-sm text-white p-0 ml-[-35px]">.fm</span>
		</h1>
	</main>
</Layout>
